<div class="jumbotron center">
<h1>Welcome to Twin Cities Test Prep</h1>
<p>
	<%= link_to "Sign Up", "#", class:"btn btn-primary btn-lg"%>
	<%= link_to "Log In", "#", class:"btn btn-primary btn-lg"%>
</p>

</div>